---
// Componetes
import Proyecto from "./Items.astro";

// Hooks
import { proyectos } from "../../hooks/Proyectos";

// Agregar todos los proyectos en este arreglo mediante el hook de proyectos
let Proyectos = [];

proyectos.map((data) => {
  Proyectos.push({
    titulo: data.nombre,
    background: `https://portafolio.pockethost.io/api/files/${data.collectionId}/${data.id}/${data.imagen}`,
    descripcion: data.descripcion,
    repositorio: data.repositorio,
    deploy: data.deploy,
    iconos: data.expand.herramientasId.map((herramienta) => {
      return {
        nombre: herramienta.nombre,
        imagen: `https://portafolio.pockethost.io/api/files/${herramienta.collectionId}/${herramienta.id}/${herramienta.imagen}`,
      };
    }),
  });
});
---

<div
  id="proyectos"
  class="flex items-center justify-center flex-col gap-20 max-w-[1000px] relative my-5"
  data-aos="fade-up"
  data-aos-anchor-placement="top-center"
  data-aos-duration="1000"
>
  <h1 class="text-[#F6F6F6] text-[48px] font-bold">Proyectos</h1>
  {
    Proyectos.map((data) => {
      return <Proyecto proyecto={data} />;
    })
  }
</div>
