---
import Icon from "../Card/Icon.astro";

interface Tecnologia {
  nombre: string;
  imagen: string;
}

interface Proyecto {
  titulo: string;
  background: string;
  descripcion: string;
  repositorio: string;
  iconos: Tecnologia[];
}

interface Props {
  proyecto: Proyecto;
}

const { proyecto } = Astro.props;
---

<div
  class="flex justify-center items-center gap-4 h-[250px] my-2 max-lg:flex-col max-lg:h-auto max-lg:gap-2"
>
  <img
    src={proyecto.background}
    alt={proyecto.titulo}
    loading="lazy"
    data-aos="fade-up-right"
    data-aos-anchor-placement="top-center"
    data-aos-duration="2000"
  />
  <section
    class="flex flex-col justify-between w-full text-[#F6F6F6] h-full max-lg:w-auto gap-1 max-lg:max-w-[600px] max-lg:text-center max-lg:items-center"
    data-aos="fade-up"
    data-aos-anchor-placement="top-center"
    data-aos-duration="2000"
  >
    <h1 class="text-[20px] font-semibold">{proyecto.titulo}</h1>
    <ul class="flex gap-2 flex-wrap items-center max-lg:justify-center">
      {
        proyecto.iconos.map((icono) => (
          <Icon nombre={icono.nombre} imagen={icono.imagen} />
        ))
      }
    </ul>
    <p>{proyecto.descripcion}</p>
    <a
      class="flex justify-center items-center gap-1 py-2 px-3 bg-[#0B0B0B] w-fit rounded-md"
      href={`${proyecto.repositorio}`}
    >
      <img
        alt="Github Icon"
        src="/Iconos/Github.svg"
        class="size-[25px]"
        loading="lazy"
      />
      <span>Ver código</span>
    </a>
  </section>
</div>
